@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #EEF2F7;
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-banner {
  background-color: #ebeb2d;
  width: 100%;
  height: 10vh;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.top-banner h2 {
  color: #8b902d96;
}

.timer-box {
  box-sizing: border-box;
  width: 60vw;
  height: 45vh;
  border: 2px solid #ffffff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 92px 6px rgb(187, 187, 187)
}

.tab {
  display: flex;
  border-bottom: 1px solid #dfe1e5;
  width: 100%;
  height: 20%;
}

.tab button {
  font-size: 0.8em;
  text-align: center;
  background-color: inherit;
  width: 50%;
  border: none;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
  outline: none;
  color: #777;
}

.tab button.active  {
  border-bottom: 2px solid #4285F4;
  color: #4285F4;
}

.tab button.active svg {
  fill: #4285F4;
}

.tab button.active:hover {
  color: #4285F4;
}

.tab button:hover {
  color: #474747;
}

.tab button span {
  margin-left: 0.2em;
}

.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1}
}

.timer-content {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

#timer, #stopwatch {
  cursor: pointer;
  margin-left: 0.6em;
  font-size: 3em;
  display: inline-block;
}

#timer {
  border-bottom: 1px solid #dfe1e5; 
}	

#timer .hrs {
  display: none;
}

#stopwatch .hrs, 
#stopwatch .mns {
  display: none;
}


#stopwatch p:last-child {
  font-size: 0.7em;
}

p {
  display: inline;
}

p > span {
  font-size: 0.5em;
}

.timer-footer {
  border-top: 1px solid #dfe1e5;	
  height: 30%;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.footer-wrapper {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer-wrapper button {
  width: 70px;
  height: 30px;
  box-sizing: border-box;
  background-color: #4285F4;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  outline: none;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 15px;
}

#reset-button {
  background-color: #e0e3de;
  color: #343634;
  border: 1px solid #bababa;
  transition-duration: 0.3s
}

#reset-button:hover {
  box-shadow: 0px 1px #bdbdbd;
  border: 1px solid #8f8f8f;
}

#start-button:active, #reset-button:active {
  border: none;
}

#start-button:hover {
  background-color: #1d6efe;
}

.right-butts {
  width: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #b5b2b1;	
  cursor: pointer;
}

/* icons */

svg {
  vertical-align: sub;
  width: 1.25em;
  height: 1.25em;
  fill: #777777; 
}

svg.active {
  fill: #4285F4;
}

/* media queries  */

@media screen and (max-width: 425px) {
  .timer-box {
    width: 97vw;
    height: 50vh;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .timer-box {
    width: 97vw;
    height: 50vh;
  }
}

@media screen and (min-width: 1024) {
  .timer-box {
    width: 65vw;
    height: 50vh;
  }
}
