@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* my styles starts here */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-banner {
  background-color: yellow;
  color: #4d4646;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.timer-box {
  width: 110vh;
  height: 50vh;
  border: 1px solid #dfe1e5;
  border-radius: 10px;
}

.timer-header {
  border-bottom: 1px solid #dfe1e5;
  height: 4em;
}

.timer-header h3 {
  font-size: 0.8em;
  font-weight: lighter;
}

.timer-header img {
  width: 14px;
  height: 14px;
}

.timer-header i {
  padding: 0;
  margin: 0;
}

.timer-header ul {
  display: flex;
  justify-content: space-around;
  width: 8vw;
}

.timer-header ul:last-child {
  width: 11vw;
}

.tab {
  box-sizing: border-box;
  color: #bbbbbb;
  width: inherit;
  height: inherit;
  display: flex;
}

.tab > div {
  box-sizing: border-box;
  border: 1px solid red;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 15%;
}

.tab > div:last-child {
  padding: 0px 11%;
}
