@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-banner {
  background-color: yellow;
  color: #4d4646;
  width: 100%;
  height: 10vh;
  margin-bottom: 5em;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.timer-box {
  box-sizing: border-box;
  width: 120vh;
  height: 50vh;
  border: 1px solid #dfe1e5;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
  border-bottom: 1px solid #dfe1e5;
  width: 100%;
  height: 10vh;
}

.tab button {
  font-size: 0.9em;
  text-align: center;
  background-color: inherit;
  width: 50%;
  border: none;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
  outline: none;
  color: #c7c7c7;
}

.tab button.active  {
  border-bottom: 2px solid #4285F4;
  color: #4285F4;
}

.tab button.active:hover {
  color: #4285F4;
}

.tab button:hover {
  color: #474747;
}

.tab button span {
  margin-left: 0.5em;
}

.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1}
}

.timer-content {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
}

#timer, #stopwatch {
  margin-left: 1em;
  font-size: 4em;
  display: inline-block;
}

#timer {
  border-bottom: 1px solid #dfe1e5; 
}	

#timer .hrs {
  display: none;
}

#stopwatch .hrs, 
#stopwatch .mns {
  display: none;
}


#stopwatch p:last-child {
  font-size: 0.7em;
}

p {
  display: inline;
}

p > span {
  font-size: 0.5em;
}

.timer-footer {
  border-top: 1px solid #dfe1e5;	
  height: 15vh;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.footer-wrapper {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer-wrapper button {
  width: 70px;
  height: 30px;
  box-sizing: border-box;
  background-color: #4285F4;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 15px;
}

.right-butts, .left-butts {
}

#reset-button {
  background-color: #e0e3de;
  color: #343634;
  border: 1px solid #bababa;
  transition-duration: 0.3s
}

#reset-button:hover {
  box-shadow: 0px 1px #bdbdbd;
  border: 1px solid #8f8f8f;
}

#start-button {
  border: 1px solid #b5b0b0;
}

#start-button:hover {
  background-color: #1d6efe;

}

.fa-volume-up {
  color: #b5b2b1;	
  cursor: pointer;
}

.fa-expand {
  color: #b5b2b1;
  margin-left: 30px;
  cursor: pointer
}
